<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f082415-0a17-42ac-be0e-aa20e34d0b58" Alias="[RTE] Accordion" Level="3">
  <Info>
    <Name>[RTE] Accordion</Name>
    <EditorAlias>TinyMCE.Umbraco.Premium.RTE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TinyMCE/Open+Source+Plugins</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog",
      "accordion"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "customConfig": {
      "newdocument_content": "<details><summary>Accordion summary...</summary><p>Accordion body...</p></details>",
      "details_initial_state": "expanded",
      "details_serialized_state": "collapsed"
    },
    "pluginsToExclude": [
      "searchreplace",
      "codesample",
      "emoticons",
      "help",
      "insertdatetime",
      "wordcount",
      "a11ychecker",
      "typography",
      "casechange",
      "checklist",
      "export",
      "footnotes",
      "formatpainter",
      "mergetags",
      "pageembed",
      "permanentpen",
      "tinymcespellchecker",
      "tableofcontents",
      "advcode",
      "advtable",
      "advtemplate",
      "ai",
      "mediaembed",
      "linkchecker",
      "powerpaste",
      "autocorrect"
    ],
    "plugins": [
      "anchor",
      "charmap",
      "table",
      "lists",
      "advlist",
      "autolink",
      "directionality",
      "accordion"
    ],
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>