<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f30f89f5-0276-4ac2-b666-230e87e76814" Alias="[RTE] Advanced Templates" Level="3">
  <Info>
    <Name>[RTE] Advanced Templates</Name>
    <EditorAlias>TinyMCE.Umbraco.Premium.RTE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TinyMCE/Complex+Setups</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "table",
      "umbembeddialog",
      "inserttemplate"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "customConfig": {
      "powerpaste_googledocs_imports": "clean",
      "advtemplate_templates": [
        {
          "title": "Example Templates",
          "items": [
            {
              "title": "Intro Text",
              "content": "<p dir=\"ltr\">Welcome!</p>\n<p dir=\"ltr\">Thanks for visiting this page. Below you will find more information.</p>"
            },
            {
              "title": "Questions",
              "content": "<p dir=\"ltr\">If you have and questions or comments, please let us know via the contact form below.</p>"
            }
          ]
        },
        {
          "title": "More Samples",
          "items": [
            {
              "title": "You Rock!",
              "content": "<p dir=\"ltr\">High Five You Rock!</p>\n<p dir=\"ltr\">Thanks for being amazing!  We appreciate you!</p>"
            }
          ]
        }
      ]
    },
    "pluginsToExclude": [
      "searchreplace",
      "accordion",
      "codesample",
      "emoticons",
      "help",
      "insertdatetime",
      "wordcount",
      "a11ychecker",
      "typography",
      "casechange",
      "checklist",
      "export",
      "footnotes",
      "formatpainter",
      "mergetags",
      "pageembed",
      "permanentpen",
      "tinymcespellchecker",
      "tableofcontents",
      "advcode",
      "advtable",
      "ai",
      "mediaembed",
      "linkchecker",
      "powerpaste",
      "autocorrect"
    ],
    "plugins": [
      "anchor",
      "charmap",
      "table",
      "lists",
      "advlist",
      "autolink",
      "directionality",
      "advtemplate"
    ],
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>