<?xml version="1.0" encoding="utf-8"?>
<DataType Key="88a3bbfe-8ed4-4b19-9d8e-47f4fc8cff68" Alias="[RTE] Case Change" Level="3">
  <Info>
    <Name>[RTE] Case Change</Name>
    <EditorAlias>TinyMCE.Umbraco.Premium.RTE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TinyMCE/Plug+and+Play</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "table",
      "umbembeddialog",
      "casechange"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "customConfig": {
      "casechange_title_case_minors": [
        "at",
        "by",
        "in",
        "of",
        "on",
        "up",
        "to",
        "en",
        "re",
        "vs",
        "but",
        "off",
        "out",
        "via",
        "bar",
        "mid",
        "per",
        "pro",
        "qua",
        "til",
        "from",
        "into",
        "unto",
        "with",
        "amid",
        "anit",
        "atop",
        "down",
        "less",
        "like",
        "near",
        "over",
        "past",
        "plus",
        "sans",
        "save",
        "than",
        "thru",
        "till",
        "upon",
        "for",
        "and",
        "nor",
        "but",
        "or",
        "yet",
        "so",
        "an",
        "a",
        "some",
        "the"
      ]
    },
    "pluginsToExclude": [
      "a11ychecker",
      "typography",
      "checklist",
      "export",
      "footnotes",
      "formatpainter",
      "mergetags",
      "pageembed",
      "permanentpen",
      "tinymcespellchecker",
      "tableofcontents",
      "advcode",
      "advtable",
      "advtemplate",
      "ai",
      "mediaembed",
      "linkchecker",
      "powerpaste",
      "autocorrect",
      "accordion",
      "codesample",
      "emoticons",
      "help",
      "insertdatetime",
      "searchreplace",
      "wordcount"
    ],
    "plugins": [
      "anchor",
      "charmap",
      "table",
      "lists",
      "advlist",
      "autolink",
      "directionality",
      "casechange"
    ],
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>