<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af44279d-788a-4d8d-ad9d-7627bb0fc14c" Alias="[RTE] Format Painter" Level="3">
  <Info>
    <Name>[RTE] Format Painter</Name>
    <EditorAlias>TinyMCE.Umbraco.Premium.RTE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TinyMCE/Plug+and+Play</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "table",
      "formatpainter"
    ],
    "stylesheets": [
      "/css/formatPainter.css"
    ],
    "maxImageSize": 500,
    "customConfig": {
      "formats": {
        "formatpainter_checklist": {
          "selector": "ul",
          "classes": "tox-checklist"
        },
        "formatpainter_liststyletype": {
          "selector": "ul,ol",
          "styles": {
            "listStyleType": "%value"
          }
        },
        "formatpainter_removeformat": [
          {
            "selector": "b,strong,em,i,font,u,strike,sub,sup,dfn,code,samp,kbd,var,cite,mark,q,del,ins",
            "remove": "all",
            "split": true,
            "expand": false,
            "block_expand": true,
            "deep": true
          },
          {
            "selector": "span",
            "attributes": [
              "style",
              "class"
            ],
            "remove": "empty",
            "split": true,
            "expand": false,
            "deep": true
          },
          {
            "selector": "*:not(tr,td,th,table)",
            "attributes": [
              "style",
              "class"
            ],
            "split": false,
            "expand": false,
            "deep": true
          }
        ]
      }
    },
    "pluginsToExclude": [
      "searchreplace",
      "accordion",
      "codesample",
      "emoticons",
      "help",
      "insertdatetime",
      "wordcount",
      "a11ychecker",
      "typography",
      "casechange",
      "checklist",
      "export",
      "footnotes",
      "mergetags",
      "pageembed",
      "permanentpen",
      "tinymcespellchecker",
      "tableofcontents",
      "advcode",
      "advtable",
      "advtemplate",
      "ai",
      "mediaembed",
      "powerpaste",
      "autocorrect",
      "linkchecker"
    ],
    "plugins": [
      "anchor",
      "charmap",
      "table",
      "lists",
      "advlist",
      "autolink",
      "directionality",
      "formatpainter"
    ],
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>