<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7fc81db1-3c16-4705-a9d7-d7cab28dcc5c" Alias="[RTE] Merge Tags" Level="3">
  <Info>
    <Name>[RTE] Merge Tags</Name>
    <EditorAlias>TinyMCE.Umbraco.Premium.RTE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TinyMCE/Complex+Setups</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "table",
      "mergetags"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "customConfig": {
      "mergetags_prefix": "[",
      "mergetags_suffix": "]",
      "mergetags_list": [
        {
          "title": "Customer",
          "menu": [
            {
              "value": "Customer.Name.First",
              "title": "Customer First Name"
            },
            {
              "value": "Customer.Name.Last",
              "title": "Customer Last Name"
            },
            {
              "value": "Customer.Title",
              "title": "Customer Title"
            }
          ]
        },
        {
          "title": "Vendor",
          "menu": [
            {
              "value": "Vendor.Name",
              "title": "Vendor Name"
            },
            {
              "value": "Vendor.Contact.Name.First",
              "title": "Vendor Contact: First Name"
            },
            {
              "value": "Vendor.Contact.Name.Last",
              "title": "Vendor Contact: Last Name"
            }
          ]
        },
        {
          "title": "Company",
          "menu": [
            {
              "value": "Company.Employee.Name",
              "title": "Your Name"
            },
            {
              "value": "Company.Employee.Position",
              "title": "Employee Position"
            },
            {
              "value": "Company.Employee.Contact",
              "title": "Employee Contact Information"
            },
            {
              "value": "Company.Name",
              "title": "Company Name"
            }
          ]
        }
      ]
    },
    "pluginsToExclude": [
      "searchreplace",
      "accordion",
      "codesample",
      "emoticons",
      "help",
      "insertdatetime",
      "wordcount",
      "a11ychecker",
      "typography",
      "casechange",
      "checklist",
      "export",
      "footnotes",
      "formatpainter",
      "pageembed",
      "permanentpen",
      "tinymcespellchecker",
      "tableofcontents",
      "advcode",
      "advtable",
      "advtemplate",
      "ai",
      "mediaembed",
      "linkchecker",
      "powerpaste",
      "autocorrect"
    ],
    "plugins": [
      "anchor",
      "charmap",
      "table",
      "lists",
      "advlist",
      "autolink",
      "directionality",
      "mergetags"
    ],
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>