<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e6cbafff-5559-4426-ae92-bae5cca94228" Alias="[RTE] Page Embed" Level="3">
  <Info>
    <Name>[RTE] Page Embed</Name>
    <EditorAlias>TinyMCE.Umbraco.Premium.RTE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TinyMCE/Plug+and+Play</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "table",
      "pageembed"
    ],
    "stylesheets": [
      "/css/pageEmbed.css"
    ],
    "maxImageSize": 500,
    "customConfig": {
      "tiny_pageembed_classes": [
        {
          "text": "Responsive - 21x9",
          "value": "tiny-pageembed--21by9"
        },
        {
          "text": "Responsive - 16x9",
          "value": "tiny-pageembed--16by9"
        },
        {
          "text": "Responsive - 4x3",
          "value": "tiny-pageembed--4by3"
        },
        {
          "text": "Responsive - 3x4",
          "value": "tiny-pageembed--3by4"
        },
        {
          "text": "Responsive - 1x1",
          "value": "tiny-pageembed--1by1"
        }
      ]
    },
    "pluginsToExclude": [
      "searchreplace",
      "accordion",
      "codesample",
      "emoticons",
      "help",
      "insertdatetime",
      "wordcount",
      "a11ychecker",
      "typography",
      "casechange",
      "checklist",
      "export",
      "footnotes",
      "formatpainter",
      "mergetags",
      "permanentpen",
      "tinymcespellchecker",
      "tableofcontents",
      "advcode",
      "advtable",
      "advtemplate",
      "ai",
      "mediaembed",
      "linkchecker",
      "powerpaste",
      "autocorrect"
    ],
    "plugins": [
      "anchor",
      "charmap",
      "table",
      "lists",
      "advlist",
      "autolink",
      "directionality",
      "pageembed"
    ],
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>