<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5a7a5c1-f898-436f-a54f-726cd215b168" Alias="[RTE] Permanent Pen" Level="3">
  <Info>
    <Name>[RTE] Permanent Pen</Name>
    <EditorAlias>TinyMCE.Umbraco.Premium.RTE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TinyMCE/Plug+and+Play</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "table",
      "permanentpen"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "customConfig": {
      "permanentpen_properties": {
        "fontname": "arial,helvetica,sans-serif",
        "forecolor": "#E74C3C",
        "fontsize": "12pt",
        "hilitecolor": "",
        "bold": true,
        "italic": false,
        "strikethrough": false,
        "underline": false
      }
    },
    "pluginsToExclude": [
      "searchreplace",
      "accordion",
      "codesample",
      "emoticons",
      "help",
      "insertdatetime",
      "wordcount",
      "a11ychecker",
      "typography",
      "casechange",
      "checklist",
      "export",
      "footnotes",
      "formatpainter",
      "mergetags",
      "pageembed",
      "tinymcespellchecker",
      "tableofcontents",
      "advcode",
      "advtable",
      "advtemplate",
      "ai",
      "mediaembed",
      "linkchecker",
      "powerpaste",
      "autocorrect"
    ],
    "plugins": [
      "anchor",
      "charmap",
      "table",
      "lists",
      "advlist",
      "autolink",
      "directionality",
      "permanentpen"
    ],
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>