<?xml version="1.0" encoding="utf-8"?>
<DataType Key="78da9260-e2d2-4bae-8dba-fcf1dd04d95b" Alias="[RTE] Table of Contents" Level="3">
  <Info>
    <Name>[RTE] Table of Contents</Name>
    <EditorAlias>TinyMCE.Umbraco.Premium.RTE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>TinyMCE/Plug+and+Play</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "table",
      "tableofcontents"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "customConfig": {
      "tableofcontents_depth": 3
    },
    "pluginsToExclude": [
      "searchreplace",
      "accordion",
      "codesample",
      "emoticons",
      "help",
      "insertdatetime",
      "wordcount",
      "a11ychecker",
      "typography",
      "casechange",
      "checklist",
      "export",
      "footnotes",
      "formatpainter",
      "mergetags",
      "pageembed",
      "permanentpen",
      "tinymcespellchecker",
      "advcode",
      "advtable",
      "advtemplate",
      "ai",
      "mediaembed",
      "linkchecker",
      "powerpaste",
      "autocorrect"
    ],
    "plugins": [
      "anchor",
      "charmap",
      "table",
      "lists",
      "advlist",
      "autolink",
      "directionality",
      "tableofcontents"
    ],
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>