<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbf67fac-18df-4a9d-b271-0aa1743b21a6" Alias="Jason Prothero" Level="2">
  <Info>
    <Parent Key="d7603076-9f12-4a68-95aa-61109c5037a3">Images</Parent>
    <Path>/Images/JasonProthero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-27T12:47:58</CreateDate>
    <NodeName Default="Jason Prothero" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vj5pno45/jason-prothero.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>