<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffda6365-6a87-4851-86bb-072bb7f26ec8" Alias="MMD Motion DL" Level="2">
  <Info>
    <Parent Key="d7603076-9f12-4a68-95aa-61109c5037a3">Images</Parent>
    <Path>/Images/MMDMotionDL</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T15:08:47</CreateDate>
    <NodeName Default="MMD Motion DL" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mnrnv52h/mmd-motion-dl.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>