<?xml version="1.0" encoding="utf-8"?>
<Media Key="37172c43-76a2-4f58-83f5-afe20ab6df42" Alias="Wysper Focus Small" Level="2">
  <Info>
    <Parent Key="d7603076-9f12-4a68-95aa-61109c5037a3">Images</Parent>
    <Path>/Images/WysperFocusSmall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-07T14:35:26</CreateDate>
    <NodeName Default="Wysper Focus Small" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iuwbon3c/wysper-focus-small.png",
  "focalPoint": {
    "left": 0.474937343358396,
    "top": 0.2667981793045461
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>