@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TinyMCE Premium Demo Website</title>

    <script src="/assets/prism.js"></script>
    <link href="/assets/prism.css" rel="stylesheet" />
  </head>
  <body>
    <main>
        @RenderBody()
    </main>

    <script type="text/javascript">
        // This snippet of JS is used to toggle checklist items on and off for the Checklist plugin
        // Select all list items
        const checklistItems = document.querySelectorAll('.tox-checklist > li');

        // Add a click event listener to each list item
        checklistItems.forEach(item => {
            item.addEventListener('click', function () {
                // Toggle the 'tox-checklist--checked' class on click
                this.classList.toggle('tox-checklist--checked');
            });
        });
    </script>
  </body>
</html>