@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "_Layout.cshtml";
}

@if (Model.HasValue("customCss"))
{
	<style>
		@Html.Raw(Model.Value("customCss"))
	</style>
}

<h1>@Model.Name</h1>
@Model.Value("rteExample")