<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1fec8ef4-6022-4a0c-86d2-e5839295f5f0" Alias="accessibilityChecker" Level="2">
  <Info>
    <Name>Accessibility Checker</Name>
    <Icon>icon-handtool color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Check to make sure the site is accessible</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Plug+and+Play</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b34cf4b0-f8dd-4dab-8a7a-ceb9118b0630</Key>
      <Name>Accessibility Checker</Name>
      <Alias>rteExample</Alias>
      <Definition>e426eaaa-de81-4afe-afed-e5ca8adb272c</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on the accessibility checker, visit: https://www.tiny.cloud/docs/tinymce/latest/a11ychecker/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="accessibilityChecker">Accessibility Checker</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>75295fb3-62b8-4f92-87ca-bbaaaf62b3bf</Key>
      <Caption>Accessibility Checker</Caption>
      <Alias>accessibilityChecker</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>