<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0c222ac2-b2e7-448f-a7fa-dde0c5843f48" Alias="accordion" Level="2">
  <Info>
    <Name>Accordion</Name>
    <Icon>icon-diagonal-arrow-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Display an accordion right inside the RTE</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Open+Source</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d56c7e06-d221-4d61-bcf1-3ebdc92bb9f6</Key>
      <Name>Accordion</Name>
      <Alias>rteExample</Alias>
      <Definition>1f082415-0a17-42ac-be0e-aa20e34d0b58</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on the accordion, visit: https://www.tiny.cloud/docs/tinymce/latest/accordion/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="accordion">Accordion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2806de3e-0606-41f7-88cc-ef2a9f176f05</Key>
      <Caption>Accordion</Caption>
      <Alias>accordion</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>