<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="49da78d9-eaa2-4e9e-9da0-46086fd27aa6" Alias="advancedTemplateCategory" Level="2">
  <Info>
    <Name>Advanced Template Category</Name>
    <Icon>icon-tag color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A category that can hold a group of advanced template data.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e94a2a94-2d77-490e-8d05-6e9f17e1be5a" SortOrder="0">advancedTemplate</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>