<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="76510c2b-fcf9-403a-a041-5eaf0f0ff0bb" Alias="advancedTypography" Level="2">
  <Info>
    <Name>Advanced Typography</Name>
    <Icon>icon-font color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of using advanced typography for typesetter equivalents to common characters.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Plug+and+Play</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9d1a52cd-b17f-4080-87ec-fc854ac0c415</Key>
      <Name>Advanced Typography</Name>
      <Alias>rteExample</Alias>
      <Definition>c26a843b-f023-4947-8198-19d44104349a</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on advanced typography, visit https://www.tiny.cloud/docs/tinymce/latest/advanced-typography/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="advancedTypography">Advanced Typography</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>05cae65e-b2a3-486d-b1e3-11ae7dec371d</Key>
      <Caption>Advanced Typography</Caption>
      <Alias>advancedTypography</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>