<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2e989886-9d37-4b2f-816e-61e034a14cf7" Alias="advancedTableEditor" Level="2">
  <Info>
    <Name>Advanced Table Editor</Name>
    <Icon>icon-microsoft-line color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of a table with advanced formatting capabilities</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Plug+and+Play</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>07a74499-db2e-4779-a80a-56cb3540e833</Key>
      <Name>Advanced Table Editor</Name>
      <Alias>rteExample</Alias>
      <Definition>9d95475d-ef11-475f-bf66-c93b80f64d05</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on the advanced table editor, visit https://www.tiny.cloud/docs/tinymce/latest/advtable/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="advancedTableEditor">Advanced Table Editor</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3d76daeb-36e5-40d4-858f-af005ece6317</Key>
      <Caption>Advanced Table Editor</Caption>
      <Alias>advancedTableEditor</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>