<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c32c5bf1-20d6-4361-9945-df8c315582b6" Alias="advancedTemplateFolder" Level="2">
  <Info>
    <Name>Advanced Template Folder</Name>
    <Icon>icon-tags color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Holds categories for the advanced templates</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="49da78d9-eaa2-4e9e-9da0-46086fd27aa6" SortOrder="0">advancedTemplateCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>