<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2a5dd3dc-9f68-4400-ad51-90f68571d6d1" Alias="advancedCodeEditor" Level="2">
  <Info>
    <Name>Advanced Code Editor</Name>
    <Icon>icon-code color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of the specific settings of the advanced code editor</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Plug+and+Play</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>74120567-e4a6-49fc-8061-25c40210b565</Key>
      <Name>Advanced Code Editor</Name>
      <Alias>rteExample</Alias>
      <Definition>0ac729bf-2840-4d78-8d60-65741b6341c5</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on the advanced code editor, visit https://www.tiny.cloud/docs/tinymce/latest/advcode/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="advancedCodeEditor">Advanced Code Editor</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>127b6581-52eb-416c-98b5-b924028b71ce</Key>
      <Caption>Advanced Code Editor</Caption>
      <Alias>advancedCodeEditor</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>