<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4921ed79-b56e-4561-a1a3-4a39598d8bcd" Alias="aiAssistant" Level="1">
  <Info>
    <Name>AI Assistant</Name>
    <Icon>icon-circuits color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of using the AI Assistant tool integrated with ChatGPT</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>339b5901-0d70-48c9-ab40-63968678baaf</Key>
      <Name>AI Assistant</Name>
      <Alias>aiAssistantExample</Alias>
      <Definition>187ba2c6-59d5-4f91-955c-ae1ad48fd1b4</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on the advanced code editor, visit https://www.tiny.cloud/docs/tinymce/latest/ai/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="aiAssistant">AI Assistant</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>95475255-488d-45be-98b6-49895eb1d8b9</Key>
      <Caption>AI Assistant</Caption>
      <Alias>aiAssistant</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>