<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e73d2847-17c0-430a-b8cc-17855a582738" Alias="caseChange" Level="2">
  <Info>
    <Name>Case Change</Name>
    <Icon>icon-hd color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of using advanced typography for typesetter equivalents to common characters.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Plug+and+Play</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1a0d7aaf-6190-4ea6-bd8b-10ff4361aae2</Key>
      <Name>Case Change</Name>
      <Alias>rteExample</Alias>
      <Definition>88a3bbfe-8ed4-4b19-9d8e-47f4fc8cff68</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on case changing, visit https://www.tiny.cloud/docs/tinymce/latest/casechange/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="caseChange">Case Change</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>041ddc38-6cbf-49ec-8617-1199bf189b06</Key>
      <Caption>Case Change</Caption>
      <Alias>caseChange</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>