<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="85733d84-7b4f-4fe6-9e6d-f51e056b8ecb" Alias="categoryFolder" Level="1">
  <Info>
    <Name>Category Folder</Name>
    <Icon>icon-folder-close color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Holds pages of different types for our examples</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1fec8ef4-6022-4a0c-86d2-e5839295f5f0" SortOrder="0">accessibilityChecker</ContentType>
    <ContentType Key="2a5dd3dc-9f68-4400-ad51-90f68571d6d1" SortOrder="1">advancedCodeEditor</ContentType>
    <ContentType Key="2e989886-9d37-4b2f-816e-61e034a14cf7" SortOrder="2">advancedTableEditor</ContentType>
    <ContentType Key="5ce7efd0-c43c-4c63-8a52-ed2fcc9ee1d2" SortOrder="3">advancedTemplates</ContentType>
    <ContentType Key="76510c2b-fcf9-403a-a041-5eaf0f0ff0bb" SortOrder="4">advancedTemplates1</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>