<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="85733d84-7b4f-4fe6-9e6d-f51e056b8ecb" Alias="categoryFolder" Level="1">
  <Info>
    <Name>Category Folder</Name>
    <Icon>icon-folder-close color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Holds pages of different types for our examples</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="0c222ac2-b2e7-448f-a7fa-dde0c5843f48" SortOrder="0">accordion</ContentType>
    <ContentType Key="65b92af1-5a0e-4766-99a1-90239d137669" SortOrder="1">codeSample</ContentType>
    <ContentType Key="ed87a94a-1af9-49a2-8eb5-72d6a0792e95" SortOrder="2">emoticons</ContentType>
    <ContentType Key="223f62fd-c310-4903-a6a4-ae60d1d93c1e" SortOrder="3">helpForEditors</ContentType>
    <ContentType Key="ca814769-c03f-43cd-9ad4-96e5fab727c2" SortOrder="4">insertDateTime</ContentType>
    <ContentType Key="369b4f44-534c-4c5d-8031-ab672ea27c78" SortOrder="5">searchAndReplace</ContentType>
    <ContentType Key="e7d3c302-c215-47b9-ba4f-bb7b10fa63f6" SortOrder="6">wordCount</ContentType>
    <ContentType Key="1fec8ef4-6022-4a0c-86d2-e5839295f5f0" SortOrder="7">accessibilityChecker</ContentType>
    <ContentType Key="2a5dd3dc-9f68-4400-ad51-90f68571d6d1" SortOrder="8">advancedCodeEditor</ContentType>
    <ContentType Key="2e989886-9d37-4b2f-816e-61e034a14cf7" SortOrder="9">advancedTableEditor</ContentType>
    <ContentType Key="76510c2b-fcf9-403a-a041-5eaf0f0ff0bb" SortOrder="10">advancedTypography</ContentType>
    <ContentType Key="e73d2847-17c0-430a-b8cc-17855a582738" SortOrder="11">caseChange</ContentType>
    <ContentType Key="e52945d0-0a35-4b94-a226-67076f9681af" SortOrder="12">checklist</ContentType>
    <ContentType Key="87d3b4ad-bf53-401f-92f7-8c00be7c6ac7" SortOrder="13">enhancedMediaEmbed</ContentType>
    <ContentType Key="5ce7efd0-c43c-4c63-8a52-ed2fcc9ee1d2" SortOrder="14">advancedTemplates</ContentType>
    <ContentType Key="4921ed79-b56e-4561-a1a3-4a39598d8bcd" SortOrder="15">aiAssistant</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>