<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="65b92af1-5a0e-4766-99a1-90239d137669" Alias="codeSample" Level="2">
  <Info>
    <Name>Code Sample</Name>
    <Icon>icon-code color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Add code samples inside your rich text.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Open+Source</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>693f1957-64fe-4d50-80c9-661a6ea21cf4</Key>
      <Name>Code Sample</Name>
      <Alias>rteExample</Alias>
      <Definition>41d0761b-84ae-4fdc-ae6e-812302eb8545</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on the code samples, visit: https://www.tiny.cloud/docs/tinymce/latest/codesample/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="codeSample">Code Sample</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>304bd88c-7a79-45a8-b586-7a9cd7d4d0fb</Key>
      <Caption>Code Sample</Caption>
      <Alias>codeSample</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>