<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8f6bf345-9bc5-4851-94f4-055063d129b5" Alias="dataFolder" Level="2">
  <Info>
    <Name>Data Folder</Name>
    <Icon>icon-folder color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This holds content that can be used as data throughout the site.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c32c5bf1-20d6-4361-9945-df8c315582b6" SortOrder="0">advancedTemplateFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>