<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ed87a94a-1af9-49a2-8eb5-72d6a0792e95" Alias="emoticons" Level="2">
  <Info>
    <Name>Emoticons</Name>
    <Icon>icon-smiley color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use emoticons in your RTE without troublesome customizations.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Open+Source</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>25468d1f-ab7b-4ce6-923b-961377bb6474</Key>
      <Name>Emoticons</Name>
      <Alias>rteExample</Alias>
      <Definition>bac66b73-e6a1-4364-84a7-d0906ca6affc</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on the emoticons, visit: https://www.tiny.cloud/docs/tinymce/latest/emoticons/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="emoticons">Emoticons</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>402467ba-847c-44fb-b958-9603a369ac0d</Key>
      <Caption>Emoticons</Caption>
      <Alias>emoticons</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>