<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="87d3b4ad-bf53-401f-92f7-8c00be7c6ac7" Alias="enhancedMediaEmbed" Level="2">
  <Info>
    <Name>Enhanced Media Embed</Name>
    <Icon>icon-picture color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of adding enhanced media to the RTE</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Plug+and+Play</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>92d77f08-781a-4ee8-9ace-78cd7025844a</Key>
      <Name>Enhanced Media Embed</Name>
      <Alias>rteExample</Alias>
      <Definition>e2acf04a-6c14-4671-a98c-b6b9c7cf6ded</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on enhanced media embeds, visit https://www.tiny.cloud/docs/tinymce/latest/introduction-to-mediaembed/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="checklist">Checklist</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>08eeb6d9-301c-4df8-8f5d-da2635b7fb21</Key>
      <Caption>Checklist</Caption>
      <Alias>checklist</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>