<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e39d533f-7d09-4c9e-bcdd-511d92498ba6" Alias="export" Level="2">
  <Info>
    <Name>Export</Name>
    <Icon>icon-page-down color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of adding exports to the RTE</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Plug+and+Play</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d5bc9c56-dee6-4d7d-895f-5dc255d6ea75</Key>
      <Name>Export</Name>
      <Alias>rteExample</Alias>
      <Definition>d431a2de-0934-4be1-9448-9ae41903c22d</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on enhanced media embeds, visit https://www.tiny.cloud/docs/tinymce/latest/exportpdf/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="export">Export</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4cf2dfee-4076-410b-b883-34aff579d8d6</Key>
      <Caption>Export</Caption>
      <Alias>export</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>