<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="73963d36-5515-4d2d-835a-3fbf8010cdbe" Alias="footnotes" Level="2">
  <Info>
    <Name>Footnotes</Name>
    <Icon>icon-footprints color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of adding footnotes to the RTE</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Plug+and+Play</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>00721040-40ad-47c3-a20d-57808a072268</Key>
      <Name>Footnotes</Name>
      <Alias>rteExample</Alias>
      <Definition>0440eb9b-4465-4e18-a610-95261e77c7a4</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on enhanced media embeds, visit https://www.tiny.cloud/docs/tinymce/latest/footnotes/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footnotes">Footnotes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>acf819d2-7b6d-480b-954a-209a8bb9f1fa</Key>
      <Caption>Footnotes</Caption>
      <Alias>footnotes</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>