<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f2f201df-81a0-4670-b10d-8514eeedeae4" Alias="formatPainter" Level="2">
  <Info>
    <Name>Format Painter</Name>
    <Icon>icon-brush color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of adding format painter to the RTE</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Plug+and+Play</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ca902431-80a5-4eb2-a433-57e7c2391231</Key>
      <Name>Format Painter</Name>
      <Alias>rteExample</Alias>
      <Definition>af44279d-788a-4d8d-ad9d-7627bb0fc14c</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on format painting, visit https://www.tiny.cloud/docs/tinymce/latest/formatpainter/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="formatPainter">Format Painter</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ac95af54-f430-40c5-b4f9-fbc16c2eb8f4</Key>
      <Caption>Format Painter</Caption>
      <Alias>formatPainter</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>