<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="223f62fd-c310-4903-a6a4-ae60d1d93c1e" Alias="helpForEditors" Level="2">
  <Info>
    <Name>Help for Editors</Name>
    <Icon>icon-help-alt color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Show your editors help text, keyboard shortcuts, etc, for the rte</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Open+Source</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9b4baafb-555a-4606-86a2-f6c060d9159d</Key>
      <Name>Help for Editors</Name>
      <Alias>rteExample</Alias>
      <Definition>ddc67d1e-7814-4519-87b8-dda8cdaa5a6d</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on help for editors, visit: https://www.tiny.cloud/docs/tinymce/latest/help/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="helpForEditors">Help for Editors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3032d6aa-4a71-4d9e-b4b1-d3e5d5f04c34</Key>
      <Caption>Help for Editors</Caption>
      <Alias>helpForEditors</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>