<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="051d377f-888b-4f61-bfde-347551b4332b" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The home page of the website, which contains the children displayed.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1fec8ef4-6022-4a0c-86d2-e5839295f5f0" SortOrder="0">accessibilityChecker</ContentType>
    <ContentType Key="2a5dd3dc-9f68-4400-ad51-90f68571d6d1" SortOrder="1">advancedCodeEditor</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>