<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="051d377f-888b-4f61-bfde-347551b4332b" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The home page of the website, which contains the children displayed.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="85733d84-7b4f-4fe6-9e6d-f51e056b8ecb" SortOrder="0">categoryFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>