<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca814769-c03f-43cd-9ad4-96e5fab727c2" Alias="insertDateTime" Level="2">
  <Info>
    <Name>Insert Date/Time</Name>
    <Icon>icon-calendar-alt color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Insert today's date and time without looking it up</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Open+Source</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dd19aa4d-5965-44b1-b55a-3fb373e1d465</Key>
      <Name>Insert Date/Time</Name>
      <Alias>rteExample</Alias>
      <Definition>5315dfe4-2113-4d9a-b7ad-39b740650609</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on inserting date/times, visit: https://www.tiny.cloud/docs/tinymce/latest/insertdatetime/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="insertDateTime">Insert Date/Time</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ff25aad2-a84b-4128-975f-92552af4d814</Key>
      <Caption>Insert Date/Time</Caption>
      <Alias>insertDateTime</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>