<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2385eee0-9e7d-4126-a649-159741257967" Alias="linkChecker" Level="2">
  <Info>
    <Name>Link Checker</Name>
    <Icon>icon-link color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of adding the link checker to the RTE</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Plug+and+Play</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0e2097cb-92eb-4203-a65b-8c224ee897d2</Key>
      <Name>Link Checker</Name>
      <Alias>rteExample</Alias>
      <Definition>c9119ef9-3363-45a7-8240-148ee3fc8bfe</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on format painting, visit https://www.tiny.cloud/docs/tinymce/latest/linkchecker/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="linkChecker">Link Checker</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>36fd07d7-6235-4026-90c8-605b5390bf08</Key>
      <Caption>Link Checker</Caption>
      <Alias>linkChecker</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>