<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e909cc78-1568-494c-8985-dfe0f4551204" Alias="mergeTags" Level="2">
  <Info>
    <Name>Merge Tags</Name>
    <Icon>icon-tags color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of adding the merge tags to the RTE</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Complex+Setups</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8c6176fe-a705-4179-8a5c-bce3ca0076fe</Key>
      <Name>Merge Tags</Name>
      <Alias>rteExample</Alias>
      <Definition>7fc81db1-3c16-4705-a9d7-d7cab28dcc5c</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on format painting, visit https://www.tiny.cloud/docs/tinymce/latest/mergetags/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mergeTags">Merge Tags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c5d3fdcc-8db2-40a5-bb1e-707eb5e6674b</Key>
      <Caption>Merge Tags</Caption>
      <Alias>mergeTags</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>