<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8d50ff91-3f56-465b-96fa-354898d4cadd" Alias="pageEmbed" Level="2">
  <Info>
    <Name>Page Embed</Name>
    <Icon>icon-documents color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of adding page embeds to the RTE</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Plug+and+Play</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3e3ad02d-0b0d-4078-8143-24ac73fa8c9b</Key>
      <Name>Custom CSS</Name>
      <Alias>customCss</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Some custom CSS we're applying to the page embed so it properly pulls in the different responsive options.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pageEmbed">Page Embed</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2171fd44-a684-481c-bfc8-1740f78481a5</Key>
      <Name>Page Embed</Name>
      <Alias>rteExample</Alias>
      <Definition>e6cbafff-5559-4426-ae92-bae5cca94228</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on format painting, visit https://www.tiny.cloud/docs/tinymce/latest/linkchecker/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageEmbed">Page Embed</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>fcc46eb6-1453-4d9e-bcd9-bdb145de7644</Key>
      <Caption>Page Embed</Caption>
      <Alias>pageEmbed</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>