<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6b04f216-8328-46f6-99d5-6d8895a2a74c" Alias="permanentPen" Level="2">
  <Info>
    <Name>Permanent Pen</Name>
    <Icon>icon-edit color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of using the permanent pen in the RTE</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Plug+and+Play</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5fea24f8-643d-4b38-b262-10e00d19a7a4</Key>
      <Name>Permanent Pen</Name>
      <Alias>rteExample</Alias>
      <Definition>c5a7a5c1-f898-436f-a54f-726cd215b168</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on power paste, visit https://www.tiny.cloud/docs/tinymce/latest/permanentpen/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="permanentPen">Permanent Pen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f5861a30-6f11-443e-a302-1b920360fc4d</Key>
      <Caption>Permanent Pen</Caption>
      <Alias>permanentPen</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>