<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fdfd2357-2949-447a-b5b3-eb8a0a496594" Alias="powerPaste" Level="2">
  <Info>
    <Name>Power Paste</Name>
    <Icon>icon-paste-in color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of adding power paste to the RTE</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Plug+and+Play</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>55f54224-8604-45d9-8268-e0bed24199fb</Key>
      <Name>Power Paste</Name>
      <Alias>rteExample</Alias>
      <Definition>5ad1e07b-3dbb-410d-98a7-edc16128bfa9</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on power paste, visit https://www.tiny.cloud/docs/tinymce/latest/introduction-to-powerpaste/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="powerPaste">Power Paste</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>db9c0cca-d2cc-4e71-aeb9-e50aad5d1bee</Key>
      <Caption>Power Paste</Caption>
      <Alias>powerPaste</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>