<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="369b4f44-534c-4c5d-8031-ab672ea27c78" Alias="searchAndReplace" Level="2">
  <Info>
    <Name>Search and Replace</Name>
    <Icon>icon-search color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Built in search and replace functionality in your rich text editor</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Open+Source</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c9edbbbf-3e84-4351-ac90-9a573ca24162</Key>
      <Name>Search and Replace</Name>
      <Alias>rteExample</Alias>
      <Definition>d50dfff5-9c7e-4760-8f26-c03d1a7e9af8</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on using search and replace, visit: https://www.tiny.cloud/docs/tinymce/latest/searchreplace/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="searchAndReplace">Search and Replace</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>aaad7475-b958-4cb9-afa7-3e823d682700</Key>
      <Caption>Search and Replace</Caption>
      <Alias>searchAndReplace</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>