<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e03a0be2-4523-4b7c-bcb9-5b3039bc21b8" Alias="spellingAutocorrect" Level="2">
  <Info>
    <Name>Spelling Autocorrect</Name>
    <Icon>icon-band-aid color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of adding spelling autocorrect to the RTE</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Plug+and+Play</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fc984bbc-66be-4ee6-9f4c-9f69fb4c694a</Key>
      <Name>Spelling Autocorrect</Name>
      <Alias>rteExample</Alias>
      <Definition>070214ed-d45f-492d-baa3-5b58c1507739</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on the spell checker, visit https://www.tiny.cloud/docs/tinymce/latest/autocorrect/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="spellingAutocorrect">Spelling Autocorrect</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7b2f1175-754c-4cfa-b444-f4e09ccbc92e</Key>
      <Caption>Spelling Autocorrect</Caption>
      <Alias>spellingAutocorrect</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>