<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7e0ce9fc-53c9-4a16-8859-04d1291ea585" Alias="spellCheckerPro" Level="2">
  <Info>
    <Name>Spell Checker Pro</Name>
    <Icon>icon-check color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of adding the spell checker pro to the RTE</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Plug+and+Play</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>aab68500-1292-47f7-920f-74c340cd8d8e</Key>
      <Name>Spell Checker Pro</Name>
      <Alias>rteExample</Alias>
      <Definition>c3dd4662-2be5-4e75-8cb6-85a6e0cf1f9f</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on the spell checker, visit https://www.tiny.cloud/docs/tinymce/latest/introduction-to-tiny-spellchecker/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="spellCheckerPro">Spell Checker Pro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a41f4103-812e-4830-a8ff-3e79d17ec4d7</Key>
      <Caption>Spell Checker Pro</Caption>
      <Alias>spellCheckerPro</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>