<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="19d61fe1-5367-4ad6-a5b5-8ed6fb2f40a0" Alias="tableOfContents" Level="2">
  <Info>
    <Name>Table of Contents</Name>
    <Icon>icon-application-window color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An example of adding the table of contents plugin to the RTE</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Plug+and+Play</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>188bf8e3-a153-4afc-89f1-2ade563dd7a3</Key>
      <Name>Table of Contents</Name>
      <Alias>rteExample</Alias>
      <Definition>78da9260-e2d2-4bae-8dba-fcf1dd04d95b</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on the spell checker, visit https://www.tiny.cloud/docs/tinymce/latest/tableofcontents/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tableOfContents">Table of Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>403860f8-2ba1-444c-a70f-f5a58192ff01</Key>
      <Caption>Table of Contents</Caption>
      <Alias>tableOfContents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>