<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e7d3c302-c215-47b9-ba4f-bb7b10fa63f6" Alias="wordCount" Level="2">
  <Info>
    <Name>Word Count</Name>
    <Icon>icon-infinity color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Count the words in your rte so you can control the read length of your content</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Open+Source</Folder>
    <Compositions />
    <DefaultTemplate>MainContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>69682a74-1d3b-4ca5-a849-85c74862eb40</Key>
      <Name>Word Count</Name>
      <Alias>rteExample</Alias>
      <Definition>e47eeff3-da23-4a86-81c9-0581ccd7eb32</Definition>
      <Type>TinyMCE.Umbraco.Premium.RTE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To view more documentation on using word count, visit: https://www.tiny.cloud/docs/tinymce/latest/wordcount/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="wordCount">Word Count</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>14ba5d1f-3528-4ee0-9531-4cbb5941b545</Key>
      <Caption>Word Count</Caption>
      <Alias>wordCount</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>