<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddb9a39c-292a-4e0a-a239-a51e6d1f16cc" Alias="Accessibility Checker" Level="3">
  <Info>
    <Parent Key="3f49f84f-8b26-4ec7-ba3b-837ff60728fd">Plug and Play</Parent>
    <Path>/Home/PlugAndPlay/AccessibilityChecker</Path>
    <Trashed>false</Trashed>
    <ContentType>accessibilityChecker</ContentType>
    <CreateDate>2024-08-07T14:36:50</CreateDate>
    <NodeName Default="Accessibility Checker" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <accessibilityCheckerExample>
      <Value><![CDATA[{
  "markup": "<p><strong>This is the section header</strong></p>\n<p><img src=\"?rmode=max&amp;height=500\" alt=\"\" width=\"323\" height=\"500\" data-udi=\"umb://media/37172c4376a24f5883f5afe20ab6df42\"></p>\n<p>* List item</p>\n<p>* Another list item</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </accessibilityCheckerExample>
  </Properties>
</Content>