<?xml version="1.0" encoding="utf-8"?>
<Content Key="9bfec1f7-b7a7-40d1-9273-ca01960bde8a" Alias="Accordion" Level="3">
  <Info>
    <Parent Key="dcf1cd7f-6be6-4c1e-8e21-946b7d5bf0f4">Open Source Plugins</Parent>
    <Path>/Home/OpenSourcePlugins/Accordion</Path>
    <Trashed>false</Trashed>
    <ContentType>accordion</ContentType>
    <CreateDate>2024-09-06T14:05:13</CreateDate>
    <NodeName Default="Accordion" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
  </Info>
  <Properties>
    <rteExample>
      <Value><![CDATA[{
  "markup": "<details class=\"mce-accordion\">\n<summary>Open me up and see what's inside</summary>\n<p>A present, just for you!</p>\n</details>\n<details class=\"mce-accordion\">\n<summary>Point number too</summary>\n<p>Electric boogaloo!</p>\n</details>\n<details class=\"mce-accordion\">\n<summary>Title</summary>\n<p>Description</p>\n</details>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rteExample>
  </Properties>
</Content>