<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3c1d31a-33fc-47a4-b19b-25240dfd0d7f" Alias="Advanced Typography" Level="3">
  <Info>
    <Parent Key="3f49f84f-8b26-4ec7-ba3b-837ff60728fd">Plug and Play</Parent>
    <Path>/Home/PlugAndPlay/AdvancedTypography</Path>
    <Trashed>false</Trashed>
    <ContentType>advancedTypography</ContentType>
    <CreateDate>2024-08-28T14:43:31</CreateDate>
    <NodeName Default="Advanced Typography" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
  </Info>
  <Properties>
    <rteExample>
      <Value><![CDATA[{
  "markup": "<p>This is a hyphen - you can see it's a good example of an n-dash or an m-dash — yes?</p>\n<p>„You can see my&nbsp;quotes are adjusted”</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rteExample>
  </Properties>
</Content>