<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf6984b8-a5f8-48c5-827b-895a05438645" Alias="Advanced Plugins" Level="2">
  <Info>
    <Parent Key="cec04307-5771-41dd-8177-a6a6d777b9ed">Home</Parent>
    <Path>/Home/AdvancedPlugins</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryFolder</ContentType>
    <CreateDate>2024-08-28T14:51:54</CreateDate>
    <NodeName Default="Advanced Plugins" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>