<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d245225-7630-4352-8ced-b937cd8fad0c" Alias="Advanced Templates" Level="3">
  <Info>
    <Parent Key="cf6984b8-a5f8-48c5-827b-895a05438645">Advanced Plugins</Parent>
    <Path>/Home/AdvancedPlugins/AdvancedTemplates</Path>
    <Trashed>false</Trashed>
    <ContentType>advancedTemplates</ContentType>
    <CreateDate>2024-08-28T13:47:29</CreateDate>
    <NodeName Default="Advanced Templates" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
  </Info>
  <Properties>
    <rteExample>
      <Value><![CDATA[{
  "markup": "<p>Dear [Customer.Name.First],</p>\n<p>We sincerely appreciate your recent purchase with [Company.Name]. Thank you for trusting us with your business!</p>\n<p>Our team is committed to delivering quality and ensuring you are completely satisfied with your experience. If you have any questions, concerns, or need further assistance, please don’t hesitate to reach out.</p>\n<p>We look forward to serving you again in the future!</p>\n<p>Best regards,<br>[Company.Employee.Name]<br>Sales Department<br>[Company.Name]<br>[Company.Employee.Contact]</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rteExample>
  </Properties>
</Content>