<?xml version="1.0" encoding="utf-8"?>
<Content Key="21852dfe-4a02-430e-b6fa-5ab8cc3c0625" Alias="Advanced Code Editor" Level="3">
  <Info>
    <Parent Key="3f49f84f-8b26-4ec7-ba3b-837ff60728fd">Plug and Play</Parent>
    <Path>/Home/PlugAndPlay/AdvancedCodeEditor</Path>
    <Trashed>false</Trashed>
    <ContentType>advancedCodeEditor</ContentType>
    <CreateDate>2024-08-07T14:50:39</CreateDate>
    <NodeName Default="Advanced Code Editor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <advancedCodeEditorExample>
      <Value><![CDATA[{
  "markup": "<h2>Page Header</h2>\n<h3>Section Header</h3>\n<blockquote><a rel=\"noopener\" href=\"https://skrift.io\" target=\"_blank\">Janae</a> is an amazing speaker, she teaches us about excellent things!</blockquote>\n<p>We have a little code snippet to share, too.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </advancedCodeEditorExample>
  </Properties>
</Content>