<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ed3e352-f540-45ea-a186-fbc0a0815270" Alias="AI Assistant" Level="3">
  <Info>
    <Parent Key="cf6984b8-a5f8-48c5-827b-895a05438645">Advanced Plugins</Parent>
    <Path>/Home/AdvancedPlugins/AIAssistant</Path>
    <Trashed>false</Trashed>
    <ContentType>aiAssistant</ContentType>
    <CreateDate>2024-09-25T14:17:21</CreateDate>
    <NodeName Default="AI Assistant" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
  </Info>
  <Properties>
    <rteExample>
      <Value><![CDATA[]]></Value>
    </rteExample>
  </Properties>
</Content>