<?xml version="1.0" encoding="utf-8"?>
<Content Key="81b11ca9-9a05-43d6-bc5e-f386c9320ecb" Alias="Case Change" Level="3">
  <Info>
    <Parent Key="3f49f84f-8b26-4ec7-ba3b-837ff60728fd">Plug and Play</Parent>
    <Path>/Home/PlugAndPlay/CaseChange</Path>
    <Trashed>false</Trashed>
    <ContentType>caseChange</ContentType>
    <CreateDate>2024-09-06T11:42:49</CreateDate>
    <NodeName Default="Case Change" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
  </Info>
  <Properties>
    <rteExample>
      <Value><![CDATA[{
  "markup": "<p>This Is a Title We Want to Change the Case for</p>\n<p>And we're going to write some paragraph text. Just a little example of what goes here.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rteExample>
  </Properties>
</Content>