<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3cf2e34-cfad-4023-b96e-c52a543c8b2d" Alias="Code Sample" Level="3">
  <Info>
    <Parent Key="dcf1cd7f-6be6-4c1e-8e21-946b7d5bf0f4">Open Source Plugins</Parent>
    <Path>/Home/OpenSourcePlugins/CodeSample</Path>
    <Trashed>false</Trashed>
    <ContentType>codeSample</ContentType>
    <CreateDate>2024-09-06T14:50:08</CreateDate>
    <NodeName Default="Code Sample" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
  </Info>
  <Properties>
    <rteExample>
      <Value><![CDATA[{
  "markup": "<pre class=\"language-markup\"><code>&lt;html&gt;\n&lt;h1&gt;Hello World&lt;/h1&gt;\n&lt;/html&gt;</code></pre>\n<pre class=\"language-javascript\"><code>document.write('Hello World');</code></pre>\n<p>To use this code highlighting on the front-end, go to:&nbsp;<a href=\"https://prismjs.com/\">https://prismjs.com/</a>, download the JavaScript and CSS, and load it in your template.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rteExample>
  </Properties>
</Content>