<?xml version="1.0" encoding="utf-8"?>
<Content Key="56a467f5-f102-40f4-bf5e-1a2aff303731" Alias="Data" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Data</Path>
    <Trashed>false</Trashed>
    <ContentType>dataFolder</ContentType>
    <CreateDate>2024-09-19T13:52:22</CreateDate>
    <NodeName Default="Data" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>