<?xml version="1.0" encoding="utf-8"?>
<Content Key="59776d9c-6eb6-4730-aac6-c83f59379aae" Alias="Emoticons" Level="3">
  <Info>
    <Parent Key="dcf1cd7f-6be6-4c1e-8e21-946b7d5bf0f4">Open Source Plugins</Parent>
    <Path>/Home/OpenSourcePlugins/Emoticons</Path>
    <Trashed>false</Trashed>
    <ContentType>emoticons</ContentType>
    <CreateDate>2024-09-11T12:02:46</CreateDate>
    <NodeName Default="Emoticons" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
  </Info>
  <Properties>
    <rteExample>
      <Value><![CDATA[{
  "markup": "<p>I'm so excited to be here 😁</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rteExample>
  </Properties>
</Content>