<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2d57941-f594-45bf-aa81-8ef56be62a8e" Alias="Footnotes" Level="3">
  <Info>
    <Parent Key="3f49f84f-8b26-4ec7-ba3b-837ff60728fd">Plug and Play</Parent>
    <Path>/Home/PlugAndPlay/Footnotes</Path>
    <Trashed>false</Trashed>
    <ContentType>footnotes</ContentType>
    <CreateDate>2024-09-20T12:38:35</CreateDate>
    <NodeName Default="Footnotes" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
  </Info>
  <Properties>
    <rteExample>
      <Value><![CDATA[{
  "markup": "<p>We want to inform you about some exciting updates to your account with. As part of our ongoing commitment to providing exceptional service, we’ve made enhancements that will improve your experience, including:</p>\n<p>- Faster response times with our customer service team.<br>- Expanded options for product support and guidance.&nbsp;<br>- New features in your account dashboard for easier management.</p>\n<p>We encourage you to log into your account to explore these new features and ensure that your information is up to date.</p>\n<p>Should you have any questions or need assistance, please don’t hesitate to contact us at <a href=\"mailto:support@wereawesome.com\">support@wereawesome.com</a>. We’re here to help!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rteExample>
  </Properties>
</Content>