<?xml version="1.0" encoding="utf-8"?>
<Content Key="466c51c2-3a66-4bb8-b9aa-ba4d9d10cdb2" Alias="Format Painter" Level="3">
  <Info>
    <Parent Key="3f49f84f-8b26-4ec7-ba3b-837ff60728fd">Plug and Play</Parent>
    <Path>/Home/PlugAndPlay/FormatPainter</Path>
    <Trashed>false</Trashed>
    <ContentType>formatPainter</ContentType>
    <CreateDate>2024-09-20T13:32:35</CreateDate>
    <NodeName Default="Format Painter" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
  </Info>
  <Properties>
    <rteExample>
      <Value><![CDATA[{
  "markup": "<p><span class=\"pink\"><strong>Testing some formatting.</strong></span></p>\n<p>Yep it's cool!</p>\n<p><span class=\"green\"><em>This is some fancy green text we're testing.</em></span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rteExample>
  </Properties>
</Content>