<?xml version="1.0" encoding="utf-8"?>
<Content Key="e52436cd-eca6-40d3-b2ee-e34f0c68e036" Alias="Insert Date/Time" Level="3">
  <Info>
    <Parent Key="dcf1cd7f-6be6-4c1e-8e21-946b7d5bf0f4">Open Source Plugins</Parent>
    <Path>/Home/OpenSourcePlugins/InsertDateTime</Path>
    <Trashed>false</Trashed>
    <ContentType>insertDateTime</ContentType>
    <CreateDate>2024-09-11T12:52:34</CreateDate>
    <NodeName Default="Insert Date/Time" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
  </Info>
  <Properties>
    <rteExample>
      <Value><![CDATA[{
  "markup": "<p>You can insert today's date and time with ease:&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rteExample>
  </Properties>
</Content>