<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcf1cd7f-6be6-4c1e-8e21-946b7d5bf0f4" Alias="Open Source Plugins" Level="2">
  <Info>
    <Parent Key="cec04307-5771-41dd-8177-a6a6d777b9ed">Home</Parent>
    <Path>/Home/OpenSourcePlugins</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryFolder</ContentType>
    <CreateDate>2024-09-06T13:14:58</CreateDate>
    <NodeName Default="Open Source Plugins" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>