<?xml version="1.0" encoding="utf-8"?>
<Content Key="5282b541-d8b4-40ae-b9cb-5716bfbd6ca4" Alias="Permanent Pen" Level="3">
  <Info>
    <Parent Key="3f49f84f-8b26-4ec7-ba3b-837ff60728fd">Plug and Play</Parent>
    <Path>/Home/PlugAndPlay/PermanentPen</Path>
    <Trashed>false</Trashed>
    <ContentType>permanentPen</ContentType>
    <CreateDate>2024-09-25T12:44:20</CreateDate>
    <NodeName Default="Permanent Pen" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
  </Info>
  <Properties>
    <rteExample>
      <Value><![CDATA[{
  "markup": "<h3>This is a fancy title</h3>\n<p>This is some important text that we will want to edit and highlight!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rteExample>
  </Properties>
</Content>