<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f49f84f-8b26-4ec7-ba3b-837ff60728fd" Alias="Plug and Play" Level="2">
  <Info>
    <Parent Key="cec04307-5771-41dd-8177-a6a6d777b9ed">Home</Parent>
    <Path>/Home/PlugAndPlay</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryFolder</ContentType>
    <CreateDate>2024-08-28T14:51:08</CreateDate>
    <NodeName Default="Plug and Play" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>