<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c3c8b80-24ac-4476-bd68-07f194f74428" Alias="Power Paste" Level="3">
  <Info>
    <Parent Key="3f49f84f-8b26-4ec7-ba3b-837ff60728fd">Plug and Play</Parent>
    <Path>/Home/PlugAndPlay/PowerPaste</Path>
    <Trashed>false</Trashed>
    <ContentType>powerPaste</ContentType>
    <CreateDate>2024-09-25T11:54:10</CreateDate>
    <NodeName Default="Power Paste" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
  </Info>
  <Properties>
    <rteExample>
      <Value><![CDATA[]]></Value>
    </rteExample>
  </Properties>
</Content>