<?xml version="1.0" encoding="utf-8"?>
<Content Key="60cd7242-0a2e-426a-ae4a-5a95eb2723d2" Alias="Sales Welcome" Level="4">
  <Info>
    <Parent Key="d777df0c-5aed-45a5-a373-b72d36da8220">Welcome Messages</Parent>
    <Path>/Data/AdvancedTemplates/WelcomeMessages/SalesWelcome</Path>
    <Trashed>false</Trashed>
    <ContentType>advancedTemplate</ContentType>
    <CreateDate>2024-09-19T13:57:21</CreateDate>
    <NodeName Default="Sales Welcome" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <templateContent>
      <Value><![CDATA[{
  "markup": "<p>Hey [Customer's Name]!</p>\n<p>We’re super excited to have you on board! 🎊 Thank you for choosing [Company Name]—you're in for a great ride. Our team is here to make sure you get the best of the best, and we’re always just an email or call away if you need anything. Seriously, don’t hesitate!</p>\n<p>Got any questions? Fire away! We're ready to help you crush your goals (or just help with the small stuff).</p>\n<p>Looking forward to working with you!</p>\n<p>Cheers, &nbsp;<br>[Your Name] &nbsp;<br>Sales Team &nbsp;<br>[Company Name] &nbsp;</p>\n<p>P.S. We may not be superheroes, but we like to think we’re the next best thing! 💪</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </templateContent>
  </Properties>
</Content>