<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8918a55-def7-4973-95ef-fd97b467e979" Alias="Sales Thank You" Level="4">
  <Info>
    <Parent Key="14ff3135-2557-4e49-be01-aa7fc89d1fc7">Thank You Emails</Parent>
    <Path>/Data/AdvancedTemplates/ThankYouEmails/SalesThankYou</Path>
    <Trashed>false</Trashed>
    <ContentType>advancedTemplate</ContentType>
    <CreateDate>2024-09-19T13:54:00</CreateDate>
    <NodeName Default="Sales Thank You" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <templateContent>
      <Value><![CDATA[{
  "markup": "<p>Dear [Customer's Name],</p>\n<p>We sincerely appreciate your recent purchase with [Company Name]. Thank you for trusting us with your business!</p>\n<p>Our team is committed to delivering quality and ensuring you are completely satisfied with your experience. If you have any questions, concerns, or need further assistance, please don’t hesitate to reach out.</p>\n<p>We look forward to serving you again in the future!</p>\n<p>Best regards,<br>[Your Name]<br>Sales Department<br>[Company Name]<br>[Contact Information]</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </templateContent>
  </Properties>
</Content>