<?xml version="1.0" encoding="utf-8"?>
<Content Key="798d6521-3dae-4948-933c-f2ff27f7d5f2" Alias="Spelling Autocorrect" Level="3">
  <Info>
    <Parent Key="3f49f84f-8b26-4ec7-ba3b-837ff60728fd">Plug and Play</Parent>
    <Path>/Home/PlugAndPlay/SpellingAutocorrect</Path>
    <Trashed>false</Trashed>
    <ContentType>spellingAutocorrect</ContentType>
    <CreateDate>2024-09-25T13:40:11</CreateDate>
    <NodeName Default="Spelling Autocorrect" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
  </Info>
  <Properties>
    <rteExample>
      <Value><![CDATA[]]></Value>
    </rteExample>
  </Properties>
</Content>