<?xml version="1.0" encoding="utf-8"?>
<Content Key="9025b88e-549b-458d-8f69-da61ca802b9a" Alias="Spell Checker" Level="3">
  <Info>
    <Parent Key="3f49f84f-8b26-4ec7-ba3b-837ff60728fd">Plug and Play</Parent>
    <Path>/Home/PlugAndPlay/SpellChecker</Path>
    <Trashed>false</Trashed>
    <ContentType>spellCheckerPro</ContentType>
    <CreateDate>2024-09-25T12:59:05</CreateDate>
    <NodeName Default="Spell Checker" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0430e2a3-43ea-4887-b7b2-428b79b72b8f">MainContent</Template>
  </Info>
  <Properties>
    <rteExample>
      <Value><![CDATA[]]></Value>
    </rteExample>
  </Properties>
</Content>