<?xml version="1.0" encoding="utf-8"?>
<Content Key="14ff3135-2557-4e49-be01-aa7fc89d1fc7" Alias="Thank You Emails" Level="3">
  <Info>
    <Parent Key="4f135638-455a-4337-8e7e-403b0baf2b9d">Advanced Templates</Parent>
    <Path>/Data/AdvancedTemplates/ThankYouEmails</Path>
    <Trashed>false</Trashed>
    <ContentType>advancedTemplateCategory</ContentType>
    <CreateDate>2024-09-19T13:53:48</CreateDate>
    <NodeName Default="Thank You Emails" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>