<?xml version="1.0" encoding="utf-8"?>
<Content Key="7892c2cd-bebb-4104-a43a-6c90c28215f5" Alias="Vendor Thank you" Level="4">
  <Info>
    <Parent Key="14ff3135-2557-4e49-be01-aa7fc89d1fc7">Thank You Emails</Parent>
    <Path>/Data/AdvancedTemplates/ThankYouEmails/VendorThankYou</Path>
    <Trashed>false</Trashed>
    <ContentType>advancedTemplate</ContentType>
    <CreateDate>2024-09-19T13:56:22</CreateDate>
    <NodeName Default="Vendor Thank you" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <templateContent>
      <Value><![CDATA[{
  "markup": "<p>Dear [Vendor's Name],</p>\n<p>I wanted to take a moment to thank you and your team at [Vendor's Company] for your continued support and partnership. Your products and services play a vital role in helping us serve our customers, and we truly appreciate your reliability and professionalism.</p>\n<p>We look forward to many more successful collaborations in the future. If there’s anything we can do to further strengthen our partnership, please don’t hesitate to reach out.</p>\n<p>Thank you once again!</p>\n<p>Best regards, &nbsp;<br>[Your Name] &nbsp;<br>[Your Position] &nbsp;<br>[Company Name] &nbsp;<br>[Contact Information]</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </templateContent>
  </Properties>
</Content>