<?xml version="1.0" encoding="utf-8"?>
<Content Key="c347dfb6-52c2-4318-b1ec-c5bb298a4b14" Alias="Vendor Welcome" Level="4">
  <Info>
    <Parent Key="d777df0c-5aed-45a5-a373-b72d36da8220">Welcome Messages</Parent>
    <Path>/Data/AdvancedTemplates/WelcomeMessages/VendorWelcome</Path>
    <Trashed>false</Trashed>
    <ContentType>advancedTemplate</ContentType>
    <CreateDate>2024-09-19T13:58:02</CreateDate>
    <NodeName Default="Vendor Welcome" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <templateContent>
      <Value><![CDATA[{
  "markup": "<p>Dear [Vendor.Name],</p>\n<p>We are thrilled to officially welcome you as a valued partner of [Company.Name]! We look forward to building a strong and successful collaboration with you.</p>\n<p>Your products and services are integral to our operations, and we are excited about the possibilities this partnership brings. Our team is committed to working closely with you to ensure smooth communication and mutual success.</p>\n<p>If you ever have any questions or need assistance, don’t hesitate to reach out. We’re excited to get started!</p>\n<p>Best regards, &nbsp;<br>[Company.Employee.Name] &nbsp;<br>[Company.Employee.Position] &nbsp;<br>Sales Department &nbsp;<br>[Company.Name] &nbsp;<br>[Company.Employee.Contact]</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </templateContent>
  </Properties>
</Content>