<?xml version="1.0" encoding="utf-8"?>
<Content Key="d777df0c-5aed-45a5-a373-b72d36da8220" Alias="Welcome Messages" Level="3">
  <Info>
    <Parent Key="4f135638-455a-4337-8e7e-403b0baf2b9d">Advanced Templates</Parent>
    <Path>/Data/AdvancedTemplates/WelcomeMessages</Path>
    <Trashed>false</Trashed>
    <ContentType>advancedTemplateCategory</ContentType>
    <CreateDate>2024-09-19T13:56:29</CreateDate>
    <NodeName Default="Welcome Messages" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>